/* PView.css */

.View {
  max-width: 800px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.linkpa {
  margin-bottom: 16px;
}

.AddLink,
.editLink {
  text-decoration: none;
  color: white;
  
}

.deletebtn {
  background-color: #dc3545;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.deletebtn:hover {
  background-color: #c82333;
}

.linkpe {
  margin-top: 8px;
}

/* Add more styling as needed */
