/* Main.css */

.Navigation {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.Navigation h1 {
  margin: 0;
  font-size: 24px;
}

.Navigation a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.Navigation a:hover {
  text-decoration: underline;
}
